---
apiVersion: v1
kind: PersistentVolume
metadata:
  namespace: mysql-operator
  name: volume-{{ ansible_hostname }}
  labels:
    type: local
spec:
  storageClassName: local-storage
  accessModes:
    - ReadWriteOnce
  capacity:
    storage: 4Gi
  local:
    path: /var/data/k8s/pv-{{ ansible_hostname }}
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - {{ ansible_hostname }}
